POSTGRES_DB=home_assistant_watchdog
POSTGRES_USER=watchdog
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5433

APP_PORT=8086
SPRING_PROFILES_ACTIVE=local
APP_SECURITY_ENABLED=false
SESSION_COOKIE_SECURE=false
SERVER_SERVLET_SESSION_TIMEOUT=30m

SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID=
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET=

WATCHDOG_MQTT_ENABLED=true
WATCHDOG_MQTT_BROKER_URI=tcp://core-mosquitto:1883
WATCHDOG_MQTT_USERNAME=addons
WATCHDOG_MQTT_PASSWORD=change-me
WATCHDOG_ZIGBEE2MQTT_BASE_TOPIC=zigbee2mqtt-2

WATCHDOG_HOME_ASSISTANT_ENABLED=false
WATCHDOG_HOME_ASSISTANT_BASE_URL=https://home-assistant.localdomain.bnowakowski.pl:8123
WATCHDOG_HOME_ASSISTANT_TOKEN=

WATCHDOG_PUSHOVER_ENABLED=false
WATCHDOG_PUSHOVER_APP_TOKEN=

WATCHDOG_PARAMETER_HISTORY_RETENTION_DAYS=365
WATCHDOG_PARAMETER_HISTORY_RECORD_UNCHANGED=false
WATCHDOG_PARAMETER_HISTORY_UNCHANGED_SAMPLE_SECONDS=86400

WATCHDOG_NOTIFICATION_DEFAULT_COOLDOWN_SECONDS=86400
WATCHDOG_FIX_DEFAULT_RETRY_COUNT=3
WATCHDOG_FIX_DEFAULT_RETRY_DELAY_SECONDS=60
WATCHDOG_MISSING_PROPERTY_RETRY_COUNT=3
WATCHDOG_MISSING_PROPERTY_RETRY_DELAY_SECONDS=10
WATCHDOG_STALE_MAINS_SECONDS=7200
WATCHDOG_STALE_BATTERY_SECONDS=86400
WATCHDOG_STALE_CRITICAL_SECONDS=3600
